<section class="section_wrap login_bag_image">
	<div class="container">
		<div class="outer_form">
			<h1 class="page-title center">Forgot Password</h1>
			<div class="alert alert-success" *ngIf="success">{{success}}</div>
			<div class="alert alert-danger" *ngIf="err">{{err}}</div>
			<div class="form-signin">
				<form class="form-outer-wrap"
					[formGroup]="forgotPasswordForm"
					(ngSubmit)="onSubmit()">
					<div class="row">
						<div class="col-lg-10 offset-lg-1 col-md-12">
							<div class="form-group">
								<input
								type="email"
								formControlName="email"
								class="form-control custom-form-control"
								placeholder="Email"
								autocomplete="off"
								[ngClass]="{'error-field': submitted && f.email.errors}"
								required>
								<div *ngIf="submitted && f.email.errors" class="form-error">
									<div *ngIf="f.email.errors.required">Email is required</div>
									<div *ngIf="f.email.errors.email && !f.email.errors.required">Email must be a valid email address</div>
								</div>
								<div *ngIf="submitted && apiErros['email']"
									class="form-error">
									<div>{{apiErros['email']}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 offset-lg-1 col-md-12">
							<div class="form-group">				
								<div class="btn_opt">
									<button type="submit"
										name="submit"
										class="btn btn-primary btn-block auth_btn"
										[ngClass]="{'disabled': forgotPassAPIRunnning}"
										[disabled]="forgotPassAPIRunnning">
										Submit
									</button>
								</div>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-lg-10 offset-lg-1 col-md-12">
							<div class="form-group">
								<div class="per_link mt-3">
									<a href="javascript:void(0);" [routerLink]="['/login']"><span class="signin_accout">Remember Password</span> <span class="signin_title"> Log in?</span></a>
								</div>
							</div>	
						</div>
					</div>	
								<!-- <div class="per_link mt-3">
						<a href="javascript:void(0);" [routerLink]="['/login']"> </a>
					</div> -->
				</form>
			</div>
		</div>			
	</div>
</section>
