<!-- <div id="loader" *ngIf="loader" style="min-height: calc(100vh - 92px);display: flex;justify-content: center;align-items: center">
        <div> <i class="fas fa-spinner fa-spin fa-2x"></i></div>
    </div>
       -->
    <div class="container-fluid" style="padding-left:17vw;padding-right:17vw;padding:bottom:17vh">
        <div class="row">
            <div class="col-1" [routerLink]="[ '/']" style="padding-top:50px;cursor: pointer;"><i class="fas fa-arrow-left fa-2x"></i></div>
            <div class="col-10">
                <h1 class="page-title center">
                    {{title}}
                </h1>
            </div>
        </div>
    
    
        <div class="row" style="padding-top:2%;padding-left:8%" *ngIf="featuredSubCategoriesList.length>=1">
            <owl-carousel style="width: 100%" [options]="Options" [items]="featuredSubCategoriesList"
                                            [carouselClasses]="['owl-theme', 'gradient-nav', 'sliding']">
                                            <div class="item" (click)="artistClick(x)"  *ngFor="let list of featuredSubCategoriesList, let x = index">
                                                 
                                                 <div class="box"><img src="{{list.attachment_name}}" style="height:100%"></div>
                                                 <h4 style="font-size: 1em;color:#000;margin-top:1vh;word-break: break-all;">{{list.name}}</h4>
                                                 <!-- <p style="font-size: 0.7em">Bhai Avatar Singh ji</p>
                                                  -->
                                            </div>
            </owl-carousel>
        </div>
    
        <div class="alert alert-info" style="margin-top:2%" *ngIf="featuredSubCategoriesList.length==0">
            <h5>No data found</h5>
        </div>
    
    </div>