

 <div class="breadcrumb_banner" style="background-image: url('assets/for dictionary page.jpg');">
    <div class="container">
      <div class="breadcrumb_box">
        <h3>Donate</h3>
      </div>
    </div>
  </div>
  <section class="media_list_wrap section_wrap">
    <div class="container">
         
        <div class="artist_alfabats">
			<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
			<div class="alfa_container active" style="max-width: 500px; min-width: 310px; margin: 0 auto;">
				<iframe allowpaymentrequest="" frameborder="0" height="900px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/khojgurbani?default_interval=m&amount=50" style="max-width: 500px; min-width: 310px; max-height:none!important" width="100%"></iframe>
			</div>
		</div>
	</div>
</section>
