<h2 class="page-title">Edit User</h2>

<a [routerLink]="['/my-account/users']">Back</a>

<section class="form-signin widget-content">
	<form class="form-outer-wrap"
		[formGroup]="updateUserForm"
		(ngSubmit)="onSubmit()">

		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="role">Role:</label>
			<div class="col-sm-10">
				<select class="form-control"
					id="role"
					formControlName="role_id"
					required>
					<option *ngFor="let role of userRoles" value="{{role['id']}}">{{role['name']}}</option>
				</select>
			</div>
		</div>

		<!-- Name -->
		<div class="form-group row">
			<label class="col-sm-2 col-form-label" for="name">Name:</label>
			<div class="col-sm-10">
				<input
					id="name"
					type="text"
					class="form-control custom-form-control"
					formControlName="name"
					placeholder="Full Name"
					autocomplete="off"
					[ngClass]="{'error-field': submitted && f.name.errors}"
					required>
			</div>
			<div *ngIf="submitted && f.name.errors" class="form-error">
				Name is required
			</div>
		</div>

		<!-- Email -->
		<div class="form-group row">
			<input
				type="email"
				formControlName="email"
				class="form-control custom-form-control"
				placeholder="Email"
				autocomplete="off"
				[attr.disabled]="true"
				required>
			<div *ngIf="submitted && f.email.errors" class="form-error">
                <div *ngIf="f.email.errors.required">
					Email is required
				</div>
                <div *ngIf="f.email.errors.email && !f.email.errors.required">Email must be a valid email address</div>
            </div>
		</div>

		<!-- Country -->
		<div class="form-group row">
			<input
				type="text"
				formControlName="country"
				class="form-control custom-form-control"
				placeholder="Country"
				autocomplete="off">
		</div>

		<!-- State -->
		<div class="form-group row">
			<input
				type="text"
				formControlName="state"
				class="form-control custom-form-control"
				placeholder="State"
				autocomplete="off">
		</div>

		<!-- City -->
		<div class="form-group row">
			<input
				type="text"
				formControlName="city"
				class="form-control custom-form-control"
				placeholder="City"
				autocomplete="off">
		</div>

		<!-- Is Active -->
		<div class="form-group row">
			<input
				type="checkbox"
				formControlName="is_active"
				class="form-control custom-form-control"
				autocomplete="off">
			<span>Active</span>
		</div>

		<!-- Auto approval -->
		<div class="form-group row">
			
			<input
			    (change)="checkvalue($event)"
				type="checkbox"
				formControlName="auto_approve"
				class="form-control custom-form-control"
				autocomplete="off"
				[ngClass]="{'disa': dis}"
				>
			<span>Auto Approval</span>
		</div>

		<!-- Is Block -->
		<div class="form-group row">
			<input
				type="checkbox"
				formControlName="is_block"
				class="form-control custom-form-control"
				autocomplete="off"

			    (change)="checkvalue2($event)"
				[ngClass]="{'disa': dis2}"
				>
			<span>Is Block</span>
		</div>

		<!-- Submit -->
		<div class="">
			<button type="submit"
				name="submit"
				class="btn btn-primary btn-block btn-lg"
				[ngClass]="{'disabled': updateAPIRunnning}"
				[disabled]="updateAPIRunnning" >
				Update
			</button>
		</div>
	</form>
</section>