<!-- 
<section class="m-subscribe1" style="background:#1f5169;margin-top:2em;color:#fff">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <form class="form-inline m-subscribe1__form">
              <label style="margin-bottom:2em">NewsLetter</label>
            <input type="email" class="form-control" [(ngModel)]="email" id="email" placeholder="Email...">
            <button type="submit" (click)="submit()" class="btn btn-primary mb-2">SUBSCRIBE</button>
          </form>
        </div>
        <div class="col-12 col-lg-4">
            <h3>Contact us</h3>
            <address>
              Email: <a href="mailto:khojgurbani@gmail.com" style="color:white">khojgurbani@gmail.com</a><br>
            </address>
        </div>
        <div class="col-12 col-lg-4">
            <div>GET CONNECTED</div>
                <a href="http://www.facebook.com/khojgurbani" class="unstiled-link">
                  <button class="ui icon button">
                    <i class="facebook icon"></i>
                  </button>
                </a>
                <a href="https://twitter.com/KhojGurbani" class="unstiled-link">
                  <button class="ui icon button">
                          <i class="twitter icon"></i>
                        </button>
                      </a> 
                      <a href="https://plus.google.com/101579902921551393771" class="unstiled-link">
                  <button class="ui icon button">
                        <i class="google icon"></i>
                  </button>
                </a>                              
        </div>          
      </div>
    </div>
  </section> -->

<footer>

  <!-- <section class="subscribe_section">
    <div class="container">
      <div class="subscribe text-center">
        <h3>Subscribe Now, It's Free!</h3>
        <p>In this episode chetandeep singh present his understandingof the shabad "bisr gai sabh tai parai"</p>
        <div class="form-group new_input">
          <input type="text" [(ngModel)]="email" class="form-control input_1 " id="usr" placeholder="Enter Mail Address">
          <button type="button" (click)="submit()" class="btn btn_subscribe btn-primary ">Sign Up</button>
        </div>
        <form class="foot_sub_form">
          <input type="email" class="form-control" [(ngModel)]="email" id="email"
            placeholder="Enter Email Address">
          <button type="submit" (click)="submit()" class="btn btn-primary mb-2 btn_sub">Subscribe Now</button>
        </form>
      </div>
    </div>
  </section> -->

  <div class="footer">
    <div class="container">
      <div class="outer_sliderw">
        <div class="inner_footer text-left text-center">
          <div class="d-none d-lg-block">
            <a routerLink="/home">
            <img style="width:193px;" src="assets/image/logo2.png">
          </a>
          </div>
          <div class="footer_menu d-none d-lg-block">
            <ul class="items_nav_footer" style="cursor: pointer">
              <li class="nav-item link_nav">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item link_nav">
                <a class="nav-link" routerLink="/shabad/1/1">Sri Guru Granth Sahib</a>
              </li>
              <li class="nav-item link_nav">
                <a class="nav-link" routerLink="/commentary/1/1">Commentary</a>
              </li>
              <li class="nav-item link_nav">
                <a class="nav-link" routerLink="/blog">Glossary</a>
              </li>
              <li class="nav-item link_nav" id="resources">
                <a class="nav-link" routerLink="/resources">Media</a>
              </li>
              <li class="nav-item link_nav">
                <a class="nav-link" [routerLink]="['/worddetail']">Dictionary</a>
              </li>
			  <li class="nav-item link_nav">
                <a class="nav-link" routerLink="/terms-and-conditions">Terms & Conditions</a>
              </li>
			  <li class="nav-item link_nav">
                <a class="nav-link" routerLink="/privacy-policy">Privacy Policy</a>
              </li>
              <!-- <li class="nav-item link_nav">
                <a class="nav-link" routerLink="/donate">Donate</a>
              </li> -->
            </ul>
          </div>
          <div class="col-12 follow_link">
            <div class="row">
              <div class="col-lg-3 col-md-4 mb-4 offset-lg-3">
                <h4>Follow Us</h4>
                <!-- <div style="color: #ebe7e7; margin: 10px 0px; font-size: 14px;">khojgurbani@gmail.com</div> -->
                <ul class="follo_us">
                  <li><a href="https://twitter.com/KhojGurbani" target="_blank"><img src="assets/image/icon/social/1.png"> </a></li>
                  <li><a href="http://www.facebook.com/khojgurbani" target="_blank"><img src="assets/image/icon/social/2.png"></a></li>
                  <li><a href="https://khojgurbani.podbean.com/" target="_blank"><img src="assets/image/icon/social/3.png"></a></li>
                  <li><a href="https://open.spotify.com/show/7zuxrDFipECc1aUgA8NbNP?si=2nRYadKeQhy_eqjIA9mSEQ" target="_blank"><img src="assets/image/icon/social/4.png"></a></li>
                  <li><a href="https://www.stitcher.com/podcast/khoj-gurbani/khojgurbani" target="_blank"><img src="assets/image/icon/social/Stitcher_FullColor.png"></a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h4>Contact Us</h4>
                <div style="color: #ebe7e7; margin: 10px 0px; font-size: 14px;">khojgurbani@gmail.com</div>
              </div>
              <div class="col-md-5 col-sm-3 mb-3 terms-mobile-memu">
                <div class="row">
                  <div class="col-6 col-md-7 p-0">
                    <a class="nav-link" style="color: #ebe7e7;" routerLink="/terms-and-conditions">Terms & Conditions</a>
                  </div>
                  <div class="col-6 col-md-5 p-0">
                    <a class="nav-link" style="color: #ebe7e7;" routerLink="/privacy-policy">Privacy Policy</a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="text-center" style="color: #ebe7e7; font-size: 12px;">Copyright © {{currentYear}} KhojGurbani</div>
        </div>
      </div>
    </div>
  </div>

  

  <!-- <div class="col-sm-12 audio_outer ">
      <audio controls style="width: 100%;">
        <source src="audio/horse.mp3">
      </audio>
    </div> -->

</footer>