<section class="section_wrap">
    <div class="container pt-2 pb-4">
    	
    	<h1 class="mb-5 text-center">
    		KhojGurbani Privacy Policy
		</h1>	
    	
<p>This KhojGurbani Privacy Policy describes how KhojGurbani collects and process your information</p>

<p>At KhojGurbani, accessible from all our services (<a href="www.khojgurbani.org" target="_blank">www.khojgurbani.org</a> or <a href="www.khojgurbani.com" target="_blank">www.khojgurbani.com</a> or KhojGurbani Media App), one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by KhojGurbani and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website or app with regards to the information that they shared and/or collect in KhojGurbani. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website or app, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information We Collect</h2>

<p>When you use the Services, we collect the information you give us when using the Services. This includes:</p>

<ul style="padding-left: revert;">
<li> When you register for an Account, we may ask for your contact information, including items such as name, address, photo, password and email address. </li>
<li> You may register to join the Service directly via the Site or by logging into your account with certain third-party social networking services (including, but not limited to, Google, Facebook, Apple) (“SNS”) via our Site. If you choose to register via an SNS, we will use the Personal Information you have provided to the SNS (such as your “real” name, email address, gender and other information you make publicly available via the SNS) to create your account; the information we extract may depend on the privacy settings you have with the SNS. Other than what we may share with the SNS as described below, the Personal Information an SNS has about you is obtained by the SNS independent of our Service, and KhojGurbani is not responsible for its accuracy, legality, or non-infringement. </li>
<li>Technical/usage Information from your device, including the type of device, browser, unique device identifier, operating system, internet provider, mobile device identifier, IP address, network attributes, and other device or browser attributes and settings.</li>
<li>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</li>
</ul>

<h2>How We Use Your Information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul style="padding-left: revert;">
<li>Provide, operate, and maintain our services</li>
<li>Improve, personalize, and expand our services</li>
<li>Understand and analyze how you use our services</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the services, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>

<h2>Sharing Your Personal Information</h2>
<p>We use Google Analytics to help us understand how our customers use the Site--you can read more about how Google uses your Personal Information here:  <a href="https://www.google.com/intl/en/policies/privacy" target="_blank">https://www.google.com/intl/en/policies/privacy/</a>.  You can also opt-out of Google Analytics here:  <a href="https://tools.google.com/dlpage/gaoptout.Finally" target="_blank">https://tools.google.com/dlpage/gaoptout.Finally</a>, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>

<h2>Log Files</h2>

<p>KhojGurbani follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website, KhojGurbani uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information. </p>

<p>For more information about cookies, and how to disable cookies, visit <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org</a></p>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at <a href="mailto:info@khojgurbani.org">info@khojgurbani.org</a> or <a href="mailto:khojgurbani@gmail.com">khojgurbani@gmail.com</a>.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access - You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification - You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure - You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing - You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing - You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability - You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at <a href="mailto:info@khojgurbani.org">info@khojgurbani.org</a> or <a href="mailto:khojgurbani@gmail.com">khojgurbani@gmail.com</a>.</p>

<h2>Children's Privacy</h2>
<p>This Site is not directed to persons under 13. We do not knowingly collect personally identifiable information from children under 13. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, he or she should contact our support team immediately. If we become aware that a child under 13 has provided us with Personal Information, we will use commercially reasonable efforts to delete such information from our files.</p>
<h2>Changes</h2>

<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
<h2>Contact Us</h2>
<p>For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at <a href="mailto:info@khojgurbani.org">info@khojgurbani.org</a> or by mail: 6172 Commonwealth Drive, Westerville, OH, 43082, United States</p>

		
</div>
</section>    	