<!-- <yt-player id="player1" [videoId]="videoId" (stateChange)="onStateChange($event)"></yt-player> -->


<!-- <div plyr style="width: 640px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="videoSources" (plyrInit)="player = $event" (plyrPlay)="played($event)"></div> -->

<div style="margin:50px">
  <audio  id="audioplayer"></audio>
</div>
<button (click)="settime()">settime</button>
<div id="player2" style="display:none">
  
    <video controls crossorigin playsinline  id="player">
                </video>
    
</div>



  <!-- <div id="made-in-ny"></div>
 -->


  <!-- <div [innerHtml]="yt_iframe_html" style="width: 100%;height:95vh"></div> -->
<!-- <mat-video [src]="videoId" [autoplay]="true" [preload]="true" [fullscreen]="true"></mat-video> -->