<div class="vkeyboard englishPronunciation-keyboard dict-english-keyboard PaddingTop-10 PaddingBottom-10">
	<table class="border-4" cellpadding="2" cellspacing="0">
		<tbody>
		  <tr align="center">
			<td><a href="javascript:void(0)" (click)="enterKeyword('1')">1</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('2')">2</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('3')">3</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('4')">4</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('4')">5</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('6')">6</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('7')">7</a></td>
			<td ><a href="javascript:void(0)" (click)="enterKeyword('8')">8</a></td>
			<td ><a href="javascript:void(0)" (click)="enterKeyword('9')">9</a></td>
			<td ><a href="javascript:void(0)" (click)="enterKeyword('0')">0</a></td>
			<td ><a href="javascript:void(0)" (click)="enterKeyword('&#45;')">&#45;</a></td>
			<td ></td>
			<td ></td>
			<td ></td>
		  </tr>
		  <tr align="center">
			<td><a href="javascript:void(0)" (click)="enterKeyword('q')">q</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('w')">w</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('e')">e</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('r')">r</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('t')">t</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('y')">y</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('u')">u</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('i')">i</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('o')">o</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('p')">p</a></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		  </tr>
		  <tr align="center">
			<td><a href="javascript:void(0)" (click)="enterKeyword('a')">a</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('s')">s</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('d')">d</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('f')">f</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('g')">g</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('h')">h</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('j')">j</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('k')">k</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('l')">l</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('&#59;')">&#59;</a></td>
			<td></td>
			<td></td>
		  </tr>
		  <tr align="center">
			<td><a href="javascript:void(0)" (click)="enterKeyword('z')">z</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('x')">x</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('c')">c</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('v')">v</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('b')">b</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('n')">n</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('m')">m</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('&#44;')">&#44;</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('&#46;')">&#46;</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('&#33;')">&#33;</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('&#63;')">&#63;</a></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('&#38;')">&#38;</a></td>
			<td></td>
			<td><a href="javascript:void(0)" (click)="enterKeyword('&#32;')">space</a></td>
		  </tr>
		</tbody>
	</table>
	</div>