<h2 class="page-title">Change Password</h2>
<div class="container">
	<section class="form-signin widget-content">
		<form class="form-outer-wrap"
			[formGroup]="changePasswordForm"
			(ngSubmit)="onSubmit()">

			<!-- Old password -->
			<div class="form-group">
				<input
					type="password"
					formControlName="old_password"
					class="form-control custom-form-control"
					placeholder="Old Password"
					autocomplete="off"
					[ngClass]="{'error-field': submitted && f.old_password.errors}"
					required>
				<div *ngIf="submitted && f.old_password.errors" class="form-error password-validation">
					<div *ngIf="f.old_password.errors.required">
						Password is required
					</div>
                </div>
			</div>

			<!-- password -->
			<div class="form-group">
				<input
					type="password"
					formControlName="password"
					class="form-control custom-form-control"
					placeholder="Password"
					autocomplete="off"
					[ngClass]="{'error-field': submitted && f.password.errors}"
					required>
				<div *ngIf="submitted && f.password.errors" class="form-error password-validation">
					<div *ngIf="f.password.errors.required">
						Password is required
					</div>
                    <div *ngIf="f.password.errors.minlength && !f.password.errors.required">Password must be at least 6 characters</div>
                </div>
			</div>

			<!-- confirm password -->
			<div class="form-group">
				<input
					type="password"
					formControlName="confirm_password"
					class="form-control custom-form-control"
					placeholder="Confirm Password"
					autocomplete="off"
					[ngClass]="{'error-field': submitted && (changePasswordForm.hasError('passwordsNotEqual') || f.confirm_password.errors)}"
					required>
				<div *ngIf="submitted && changePasswordForm.hasError('passwordsNotEqual')" class="form-error password-validation">
					Passwords are different. They should be equal!
                </div>
			</div>

			<!-- Submit -->
			<div class="">
				<button type="submit"
					name="submit"
					class="btn btn-primary"
					[ngClass]="{'disabled': changePassAPIRunnning}"
					[disabled]="changePassAPIRunnning">
					Submit
				</button>
			</div>
		</form>
	</section>
</div>
