$primary-color: #252638;//#1F516A;
$secondary-color: #f0da83;

$bg-color: #F7F7F7;

$font-dark: #000000;
$font-light: #707070;
$font-lighter: #9A9A9A;

$border-color: #E6E6E6;

$color-error: #F4473A;
$color-success: #8BC34A;
$color-blue: #2196F3;
$color-warning: #EAB416;