<section class="section_wrap login_bag_image">
	<div class="container">
		<div class="outer_form">
			<h1 class="page-title center">Reset Password</h1>
			<div class="form-signin">
				<form class="form-outer-wrap" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
					<div class="row">
						<div class="col-lg-10 offset-lg-1 col-md-12">
							<div class="form-group">
								<input type="password" formControlName="password" class="form-control custom-form-control" placeholder="Password" autocomplete="off" [ngClass]="{'error-field': submitted && f.password.errors}" required>
								<div *ngIf="submitted && f.password.errors" class="form-error password-validation">
									<div *ngIf="f.password.errors.required">
										Password is required
									</div>
			                        <div *ngIf="f.password.errors.minlength && !f.password.errors.required">Password must be at least 6 characters</div>
			                    </div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-10 offset-lg-1 col-md-12">
							<div class="form-group">
								<input type="password" formControlName="password_confirmation" class="form-control custom-form-control" placeholder="Confirm Password" autocomplete="off" [ngClass]="{'error-field': submitted && (resetPasswordForm.hasError('passwordsNotEqual') || f.password_confirmation.errors)}"	required>
								<div *ngIf="submitted && resetPasswordForm.hasError('passwordsNotEqual')" class="form-error password-validation"> Passwords are different. They should be equal! </div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-10 offset-lg-1 col-md-12">
							<div class="form-group">				
								<div class="btn_opt">
									<button type="submit" name="submit"	class="btn btn-primary btn-block btn-lg" [ngClass]="{'disabled': resetPassAPIRunnning}"	[disabled]="resetPassAPIRunnning"> Submit </button>
								</div>
							</div>
						</div>	
					</div>
				</form>
			</div>
		</div>			
	</div>
</section>




<!-- <div class="container">
	<div style="height: 20px;"></div>
	<h1 class="page-title center" style="text-align: center;">Reset Password</h1>
	<section class="form-signin widget-content">
		<form class="form-outer-wrap"
			[formGroup]="resetPasswordForm"
			(ngSubmit)="onResetPassword()">

			<div class="form-row">
				<div class="form-group col">
					<input
						type="password"
						formControlName="password"
						class="form-control custom-form-control"
						placeholder="Password"
						autocomplete="off"
						[ngClass]="{'error-field': submitted && f.password.errors}"
						required>
					<div *ngIf="submitted && f.password.errors" class="form-error password-validation">
						<div *ngIf="f.password.errors.required">
							Password is required
						</div>
                        <div *ngIf="f.password.errors.minlength && !f.password.errors.required">Password must be at least 6 characters</div>
                    </div>
				</div>
				<div class="form-group col">
					<input
						type="password"
						formControlName="password_confirmation"
						class="form-control custom-form-control"
						placeholder="Confirm Password"
						autocomplete="off"
						[ngClass]="{'error-field': submitted && (resetPasswordForm.hasError('passwordsNotEqual') || f.password_confirmation.errors)}"
						required>
					<div *ngIf="submitted && resetPasswordForm.hasError('passwordsNotEqual')" class="form-error password-validation">
						Passwords are different. They should be equal!
                    </div>
				</div>
			</div>
			<div class="">
				<button type="submit"
					name="submit"
					class="btn btn-primary btn-block btn-lg"
					[ngClass]="{'disabled': resetPassAPIRunnning}"
					[disabled]="resetPassAPIRunnning">
					Get Link
				</button>
			</div>
		</form>
	</section>
</div> -->